/* 动画 */
.button,
.input-text {
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
/* 简单按钮 */
.button {
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    border: none;
    outline: none;
    color: white;
    background-color: #1b9af7;
    font-weight: 300;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:focus {
    background-color: #4cb0f9;
}
.button:visited {
    background-color: #1b9af7;
}
.button:hover {
    background-color: #4cb0f9;
}
.button:active {
    background-color: #2798eb;
    color: #0880d7;
    border-color: #2798eb;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* 加号图标 */
.icon-plus,
.icon-minus {
    position: relative;
    vertical-align: middle;
    padding: 0;
    /* font-size: 14px;  如果不统一字号和行高，会出现基线对齐的问题 */
    width: 30px;
}
/* 加号图标 - 横线 */
.icon-plus:before,
.icon-minus:before {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 6px;
    width: 18px;
    height: 1px;
    background: white;
    content: "\200B";
}
/* 加号图标 - 竖线 */
.icon-plus:after {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 14px;
    width: 1px;
    height: 18px;
    background: white;
    content: "\200B";
}
.icon-plus:active:after,
.icon-plus:active:before,
.icon-minus:active:before {
    background-color: #0880d7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
/* 输入框 */
.input-text {
    display: inline-block;
    outline: none;
    border: 1px solid #dce4ec;
    padding: 0 8px;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
.input-text:focus {
    border-color: #1b9af7;
}