<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件嵌套使用</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="title">
    <header-c v-bind:t.sync="title" v-ref:header></header-c>
    <!-- is 指定此货是自定义组件 -->
    <ul>
        <li-c is="my-component"
              v-ref:li-component
              v-for="item in list"
              :item="item"
              :index="$index">
        </li-c>
    </ul>
</div>
<script>
    // 单例组件
    var headerC = Vue.extend({
        template: '<h3 v-on:click="fn">title:{{ t }}</h3>',
        // 简单设置
        // props: ['t'], // 需要在这里声明才可以拿到父组件的数据
        // 复杂设置，可以设置数据类型，验证过则等
        props: {
            t: {
                type: String,
                required: true,
                default: '',
                twoWay: true, // 双向绑定
                // 验证规则
                validator: function (value) {
                    return value > 10
                }
            }
        },
        methods: {
            fn: function () {
                console.log(this.$data.t);
                this.$data.t += ' - ';

                // 可以访问父组件，
                // 但子组件应当避免直接依赖父组件，避免造成不必要的耦合
                console.log(this.$parent);

                // 也可以访问多层组件嵌套时，可以直接获取根组件
                console.log('两层嵌套时父节点等于根节点');
                console.log(this.$root === this.$parent);
            }
        }
    });

    // 可用作循环的组件
    var li = '<li>{{index}}.{{item.m}}-{{item.n}}</li>';
    var liC = Vue.extend({
        template: li,
        props: ['item', 'index'],
        methods: {
            fn: function () {
                console.log(this.$data);
            }
        }
    });

    var html = ''
            + '<header-c></header-c>'
            + '<ul>'
            + '</ul>';
    var vm = new Vue({
        el: '#app',
        data: {
            title: 'Title - Title',
            list: [{
                m: 'A',
                n: 'B'
            }, {
                m: 'C',
                n: 'D'
            }]
        },
        components: {
            // <my-component> 只能用在父组件模板内
            'header-c': headerC,
            'li-c': liC
        },
        methods: {
            fn: function () {
            }
        },
        // 对于事件采取依赖返转的形式：
        // 父不依赖子，子不依赖父，父子依赖抽象
        events: {

        },

        // 组件的生命周期在根节点下面依次排开
        created: function () {
            console.log('created event');
        },
        ready: function () {
            console.log('ready event');
            // 父组件中可以从 this.$children 列表中拿到全部的子组件
            // 也可以在引用子组件时指定一个 ID
            // 需要注意写在后面的组件在 $children 的索引反而靠前
            console.log('this.$refs.header === this.$children[2]');
            console.log(this.$refs.header === this.$children[2]);

            // 和 v-for 一起用时，ref 是一个数组或对象，包含相应的子组件
            console.log('this.$refs.liComponent');
            console.log(this.$refs.liComponent);
        }
    });

</script>
</body>
</html>