/*
 * src/components/article-detail/article-detail.css
 *
 * 文章详情页样式
 */
.article-detail-page-container {
    display: flex;
}
/* 内容部分 */
.article-detail-container {
    flex: 1;
    margin: 1em 0 0;
    padding: 1em 1em .5em 1em;
    background-color: #f2f2f2;
}
/* 文章目录 */
.article-detail-page-container > aside {
    position: relative;
    order: 2;
    opacity: .95;
    margin: 1em 0 0 1em;
    transition: top .2s ease-out;
}
.article-detail-headers-container,
.article-detail-headers-container.open {
    position: relative;
    max-width: 260px;
    min-width: 120px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    padding: 6px;
    overflow: scroll;
    font-size: 14px;
    line-height: 1em;
    transition: border-radius .5s,
                top .2s ease-out;
}
.open > ul {
    max-width: 260px;
    min-width: 120px;
}
.article-detail-headers-container > header {
    top: 6px;
    display: block;
    box-sizing: border-box;
    padding-bottom: 3px;
    padding-top: 100px; /* 为了驱赶文字的乱入 */
    border-bottom: 1px solid #e2e2e2;
    font-weight: 700;
    background: #fff;
    line-height: 1.5em;
}
.article-detail-headers-container.open > header {
    padding-top: 0;
}
.article-detail-headers-container ul {
    margin: .5em 1em 0 1em;
}
.article-detail-headers-container ul li {
    padding: 5px 0;
    list-style: none;
    position: relative;
}
.article-detail-headers-container ul li:before {
    content: "\200B";
    display: inline-block;
    box-sizing: border-box;
    height: 4px;
    width: 4px;
    overflow: hidden;
    position: absolute;
    left: -9px;
    top: 11px;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
    vertical-align: middle;
}
.article-detail-headers-container ul ul li:before {
    border: 1px solid #ccc;
}
.article-detail-headers-container a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    /* 不折行 */
    text-overflow: ellipsis;
    white-space: nowrap; /* 强制不换行 */
    color: #2479cc;
    text-decoration: none;
    cursor: pointer;
}
.article-detail-headers-container ul ul {
    margin-top: 0;
    margin-bottom: 0;
}
.article-detail-headers-container .icon-catalogue {
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* 宽屏隐藏 */
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border: none;
    padding: 5px 6px;
    border-radius: 20px;
    cursor: pointer;
}
.article-detail-headers-container .icon-close {
    position: absolute;
    top: 6px;
    right: 12px;
    display: none;
    border: none;
    background: none;
}
/* 文章列表图标 */
.icon-catalogue {
    display: inline-block;
}
.icon-catalogue i,
.icon-catalogue i:before,
.icon-catalogue i:after {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 2px;
    width: 20px;
    border-left: 2px solid #006a00;
    border-right: 15px solid #006a00;
    margin: 13px 2px;
}
.icon-catalogue i:before,
.icon-catalogue i:after {
    position: absolute;
    margin: 0;
    content: "\200B";
    left: -2px;
}
.icon-catalogue i:before {
    top: -6px;
}
.icon-catalogue i:after {
    bottom: -6px;
}
/* 关闭按钮图标，当前只有这里用到，
   如果有第二处使用，需要提到公共文件中( icon 文件夹下是个不错的选择)
 */
.icon-close {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.icon-close:before,
.icon-close:after {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background: #006a00;
    content: "\200B";
}
.icon-close:before {
    transform: rotate(45deg);
}
.icon-close:after {
    transform: rotate(-45deg);
}
/* 小于800时文章目录显示为图标 */
@media screen and (max-width: 800px) {
    .article-detail-page-container > aside {
        position: absolute;
        right: 0;
    }
    .article-detail-headers-container {
        width: 40px;
        height: 40px;
        min-width: 40px; /* 不加会出现侧 U 型边框 */
        border-radius: 20px;
        overflow: hidden;
    }
    .article-detail-headers-container.open {
        height: auto;
        width: auto;
        min-width: auto;
        overflow: scroll;
        background: #fff;
        border-radius: 0;
    }
    .article-detail-headers-container .icon-catalogue {
        display: inline-block;
        background: #fff;
    }
    .article-detail-headers-container.open .icon-catalogue {
        display: none;
    }
    .article-detail-headers-container.open .icon-close {
        display: inline-block;
    }
}
/* 留言 */
.article-message-container { }