<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>HTML 模板研究 - 龙则的博客站点</title>
    <link href="/src/css/all.css" rel="stylesheet"/>
</head>
<body>
<header class="page-header">
    <h1>
        <span class="main-title">龙则的个人站点</span>
        <span class="subtitle">记录我在北京的生活与感悟，记录在某大公司的技术(主要是前端)研究</span>
    </h1>
    <nav class="nav">
        <button class="icon-menu-button"></button>
        <menu>
            <a class="item">Home</a>
            <a class="item">前端技术</a>
            <a class="item">技术梳理</a>
            <a class="item">本站成书</a>
            <a class="item">本站 & 站主</a>
        </menu>
    </nav>
</header>
<div class="page-body">
    <div class="article-detail-container">
    <h1 id="header-1">HTML 模板研究</h1>
<h2 id="header-1-1">知名的模板引擎收集</h2>
<p>按立项的时间大致排列如下：</p>
<ul>
<li><p>tmpl （jq的插件，2005.3.5立项）
<a href="https://github.com/BorisMoore/jquery-tmpl" target="_blank">Git</a></p>
</li>
<li><p>mustache（国外货，独立的模板引擎，2009.10.5立项）
<a href="https://github.com/janl/mustache.js" target="_blank">Git</a></p>
</li>
<li><p>doT(国外货，2011.01.11，只支持v8，应该也可以支持其他现代浏览器)
<a href="http://olado.github.io/doT" target="_blank">Git</a></p>
</li>
<li><p>kissy template（阿里,kissy中的一部分，不具备时间参考性，可以看做是juicer的前身）
<a href="https://github.com/kissyteam/kissy" target="_blank">Git</a></p>
</li>
<li><p>juicer（也是一国产库，2011.6.27立项，貌似也是阿里系的）
<a href="https://github.com/PaulGuo/Juicer" target="_blank">Git</a></p>
</li>
<li><p>BaiduTemplate（百度,2012.04.28）
<a href="http://baidufe.github.io/BaiduTemplate" target="_blank">Git</a></p>
</li>
<li><p>artTemplate（腾讯，2012.06.03立项）
<a href="https://github.com/aui/artTemplate" target="_blank">Git</a></p>
</li>
</ul>
<h2 id="header-1-2">从预编译的角度研究</h2>
<p>tmpl，484行，从预编译的角度看采用的是分段数组push，使用语法如下（原理解释也在其中）：</p>
<pre><code>var movies = [
    {Name: &quot;The Red Violin&quot;, ReleaseYear: &quot;1998&quot;}
];

var markup = &quot;&lt;li&gt;&lt;b&gt;${Name}&lt;/b&gt; (${ReleaseYear})&lt;/li&gt;&quot;;

// 编译模板，并放入队列，名字由用户指定
// 执行完后可以用 jQuery.template[&#39;movieTemplate&#39;] 获取编译后的模板函数
// 没用作用域的分离，可能冲突
$.template(&quot;movieTemplate&quot;, markup);

// 模板和数据结合，再输出到页面
$.tmpl(&quot;movieTemplate&quot;, movies).appendTo(&quot;#movieList&quot;);
</code></pre><p>mustache，613行，多语言模板引擎，语法不是很好，暂不做深入研究。</p>
<p>DoT，140行，号称最快的模板引擎，但是已经很久没有更新了。</p>
<p>juicer，549行，一直在更新，对node也支持良好，作者是淘宝UED团队成员。</p>
<p>BaiduTemplate，216行，到2012.10.30已经基本不更新.</p>
<p>artTemplate，将功能分在多个文件中，逻辑比较清晰，还支持include功能，主干最后更新日期是2014.9.1。</p>

    </div>
    
    <div class="article-detail-headers-container">
        <p><strong>文章目录</strong></p>
        <ul>
            
            <li>
                
                <a href="#header-1-1">知名的模板引擎收集</a>
                
                
            </li>
            
            <li>
                
                <a href="#header-1-2">从预编译的角度研究</a>
                
                
            </li>
            
        </ul>
    </div>
    
    <div class="article-message-container"></div>
</div>
<footer class="page-footer"></footer>
</body>
</html>