<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件嵌套使用</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="title">
    <header-c v-bind:t.sync="title"></header-c>
    <!-- is 指定此货是自定义组件 -->
    <ul>
        <li-c is="my-component"
            v-for="item in list"
            :item="item"
            :index="$index">
        </li-c>
    </ul>
</div>
<script>
    // 单例组件
    var headerC = Vue.extend({
        template: '<h3 v-on:click="fn">title:{{ t }}</h3>',
        props: ['t'], // 需要在这里声明才可以拿到父组件的数据
        methods: {
            fn: function () {
                console.log(this.$data.t);
                this.$data.t += ' - ';
            }
        }
    });

    // 可用作循环的组件
    var li = '<li>{{index}}.{{item.m}}-{{item.n}}</li>';
    var liC = Vue.extend({
        template: li,
        props: ['item', 'index'],
        methods: {
            fn: function () {
                console.log(this.$data);
            }
        }
    });

    var html = ''
            + '<header-c></header-c>'
            + '<ul>'
            + '</ul>';
    var vm = new Vue({
        el: '#app',
        data: {
            title: 'Title - Title',
            list: [{
                m: 'A',
                n: 'B'
            },{
                m: 'C',
                n: 'D'
            }]
        },
        components: {
            // <my-component> 只能用在父组件模板内
            'header-c': headerC,
            'li-c': liC
        }
    });

    // 这样一个组件怎么放到页面上？
    // 这样一个东西有哪几种方法可将其放到页面上？
    var a = new Vue({
       template: '<div>A</div>'
    });
</script>
</body>
</html>