/* 详情页 */
.article-detail-container {
    background-color: #f2f2f2;
}
/* 文章目录 */
.article-detail-headers-container {
    position: fixed;
    bottom: 8px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    max-width: 260px;
    min-width: 120px;
    padding: 6px;
    margin-left: 600px;
    display: none;
}
.article-detail-headers-container p {
    margin: 0;
    padding: 0 4px;
}
.article-detail-headers-container strong {
    border-bottom: 1px solid #e2e2e2;
    display: block;
}
.article-detail-headers-container ul {
    margin: .5em 1em .5em 1.5em;
}
.article-detail-headers-container a {
    color: #2479CC;
    text-decoration: none;
}
.article-detail-headers-container ul ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* 大于800时显示文章目录 */
@media screen and (min-width: 800px) {
    .article-detail-headers-container {
        display: block;
    }
    .page-body {
        max-width: 600px;
    }
    .page-body .article-detail-container {
        margin-left: -100px;
    }
}

/* 留言 */
.article-message-container {}