/* 本站定义的全局样式 */
menu {
    margin: 0;
    padding: 0;
}
/* 头部的标题和导航 */
/* TODO 高度143px，一个前端工程师的自我修养 */
.page-header {
    font-size: 16px;
    background-color: #f2f2f2;
    overflow: hidden;
}
.page-header h1 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 64px;
    max-width: 800px;
    margin: 10px auto;
    padding: 3px 0 3px 77px;
    font-weight: 200;
    background: center left url("picture.png") no-repeat;
    background-size: contain;
}
.page-header h1 .main-title {
    font-size: 16px;
    line-height: 20px;
    color: #333;
}
.page-header h1 .subtitle {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #666;
}
.page-header .icon-menu-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
/* 导航 */
.page-header .nav {
    width: 800px;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -400px;
}
.page-header .nav menu {
    display: none;
    position: absolute;
    top: 54px;
    right: 0;
    margin: 0;
    background-color: #f2f2f2;
    border: solid 1px #fff;
    border-top: none;
}
.page-header .nav .item {
    display: block;
    line-height: 2.8em;
    margin: 0 15px;
    padding: 0 2em;
    border-bottom: 1px solid #f8f8f8;
    color: #606566;
    font-size: 14px;
}
.page-header .nav .item:last-child {
    border: none;
}
/* 小于 500 像素时 调整样式为移动端 */
@media screen and (max-width: 500px) {
    .page-header h1 .main-title {
        line-height: 64px;
    }
    .page-header h1 .subtitle {
        display: none;
    }
}
/* 小于800时需调整导航方案 */
@media screen and (max-width: 800px) {
    .page-header .nav {
        width: auto;
        max-width: 800px;
        right: 0;
        margin-left: 0;
    }
}
.page-body {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    color: #333;
}
.page-body a {
    color: inherit;
    text-decoration: none;
}
