/* Menu 按钮图标 */
.icon-menu-button {
    position: relative;
    width: 35px;
    height: 30px;
    padding: 14px 5px;
    background-color: #006a00;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.icon-menu-button:before,
.icon-menu-button:after {
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #006a00;
    content: "\200B";
}

.icon-menu-button:before {
    top: 6px;
}
.icon-menu-button:after {
    bottom: 6px;
}

/* Tag 图标 */
.icon-tag {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #c3bfbf;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.icon-tag::before {
    position: absolute;
    right: -5px;
    top: 2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: inherit;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    content: "\200B";
}
.icon-tag::after {
    position: absolute;
    right: -2px;
    top: 5px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    content: "\200B";
}
